<div class="mainContainer">
  <form action="/?" method="get">
    <div class="optionsContainer d-flex flex-row">
      <div class="input-group">
        <select class="form-select" name="select" id="select" onchange="this.form.submit()" aria-label="">
          <option>類別</option>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
      </div>
    </div>
  </form>
  <div class="totalContainer">
    <p class="fs-6">總金額</p>
    <p class="fs-1">{{totalAmount}}</p>
  </div>
  <div class="recordsContainer">
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          {{#each categories}}
          <i class="{{this.icon}}"></i>
          {{/each}}
          <div class="fw-bold">{{this.name}}</div>
          {{this.date}}
        </div>
        <span class="badge bg-primary rounded-pill">{{this.amount}}</span>
        <div class="buttonsContainer d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn" href="#" role="button">修改</a>
          <form action="" method="post">
            <button type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
      <div class="buttonContainer col-3 mx-auto">
        <a class="btn" href="#" role="button">新增支出</a>
      </div>
    </ul>
  </div>
</div>